body{
    margin: 0;
}
#container{
display: flex;
flex-direction: row;
width: 100%;
height: 100%;
background-color: chartreuse;
}
.left-1{
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}
.right-1{
    flex:1;
    display: flex;
    position: relative;
    
}
.top-2{
    flex:4;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
 

}
.bottom-2{
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
 

}
.col-3-chan{
    flex: 1;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
   
 
   
}
.col-3-le{
    flex: 1;
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3-chan >p{
    text-align: center;
  
}
.col-3-le>p{
    text-align: center;
}
.left-3{
    flex: 4;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

}
.right-3{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: darkslateblue; 

   
}
.top-4{

flex:1;
display: flex;


}

.bottom-4{
    flex:1;
    display: flex;
 
}
.row-4{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    

}

.right-3 p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #000;
    
}
.row-4 p:hover{
    color: #fff;
    
}
.row-4:hover{
    border-right: 4px solid tomato;
}
.right-1 p{

    position: absolute;
    margin-left: auto;      
    margin-right: auto;
    text-align: center;
    right: 0;
    left:  0;
    font-size: 50px;
    font-weight: 800;
    -webkit-animation: my 2500ms infinite;
    /* -moz-animation: my 2000ms infinite; 
    -o-animation: my 2000ms infinite;  */
    animation: my 2500ms infinite;
}
.right-1 p::first-letter{
    font-size: 120px;
}
.img-anime{
    max-width:100%;
    width: 100%;
    filter: contrast(1.2) brightness(1.1) grayscale(0.9);
    
    
}
.img-anime:hover{
    filter: none;
}
@-webkit-keyframes my {
    0% { color: #ee54e1; } 
    50% { color: #fff;  } 
    100% { color: #ee54e1;  } 
}
@-moz-keyframes my { 
    0% { color: #3b3b37; } 
    50% { color: #fff;  }
    100% { color: #3b3b37;;  } 
}
@-o-keyframes my { 
    0% { color: #3b3b37; } 
    50% { color: #fff; } 
    100% { color: #3b3b37;  } 
}
@keyframes my { 
    0% { color: #ee54e1;  } 
    50% { color: #fff;  }
    100% { color: #ee54e1;  } 
} 

